body {
  margin: 20px 40px;
}

.job {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 10px;
}

.job:hover {
  cursor: pointer;
  color: #666666;
}

.detail-logo {
  height: 30px;
  float: right;
}

.job-company {
  padding: 0 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
